<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path 'fond_uvrhtk', crop: :fill %>')">
  <div class="col-xs-12 col-sm-4">
    <div class="home widthmax sign-up">
      <h2>S'enregistrer</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name, placeholder:"Prénom: Damien", label: false %>
          <%= f.input :email, required: true, autofocus: true , placeholder:"email: damien.forterre@gmail.com", label: false %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder:"chute on ne le dit pas" %>
          <%= f.input :password_confirmation, required: true, placeholder:"tkt lui non plus"%>
          <div class="add-photo-profil">
            <%= f.input :photo, :label => "Photo", input_html: { id:"add-profil" } %>
            <%= cl_image_tag "photo-camera_cf0zwj", height: 40, width: 40, crop: :fill, id:"cameraprofil" %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
        </div>
        <div class="ecarter">
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class:"home-link" %>
          </div>
          <%= link_to root_path, class: "" do %>
          <p>back</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
