<!-- <h2>Forgot your password?</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->

<div class="banner-avem forgot-mdp" style="background-image:linear-gradient(-225deg, rgba(255,255,255,0.6) 255%, rgba(255,255,255,0.6) 50%), url('<%= cl_image_path 'fond_uvrhtk', crop: :fill %>')">
  <div class="text-forgot-mtp">
    <h2>Bah alors Gamin, on oublie son mot de passe ?</h2>
    <h1>--> Champion <--</h1>

    <p>Peut-être qu'on a été un peu faignant et qu'on a pas fait cette partie, bon...</p>
    <p>Mais tu peux toujours te recréer un compte <strong>avec un autre email</strong> !!!!!</p>
        <%= link_to new_user_registration_path, class: "" do %>
          <p>back</p>
        <% end %>
  </div>
</div>
