<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%), url(<%= image_path 'Fond.png' %>);">
  <%= render 'shared/navbar' %>
  <div class="timer">
    <h1>TEMPS RESTANT</h1>
    <%= image_tag "Horloge.png", id: "countdown" %>
  </div>
  <% @activities.each do |activity| %>
    <div class="col-xs-12 col-sm-3">
      <div class="card" style="background-image: url(<%= image_path 'Carré_01.png' %>);">
        <div class="card-description">
          <h2><%= activity.title %></h2>
          <p><%= activity.descritpion %></p>
        </div>
        <button type="button" class="btn btn-danger">Je vote<a class="card-link" href="#" ></a></button>
      </div>
    </div>
  <% end %>
  <%= render 'shared/lafabrique' %>
</div>
