<div class="footer" style="background-image: url('<%= cl_image_path 'bass_cyd0ds', crop: :fill %>')">
  <%= link_to root_path, class: "size-btn" do %>
    <%= cl_image_tag "light_pshfmb", height: 40, width: 40, crop: :fill %>
  <% end %>
  <%= link_to root_path, class: "size-btn" do %>
    <%= cl_image_tag "camera_bsusxt", height: 40, width: 40, crop: :fill %>
  <% end %>
</div>
