<!-- small ecran -->
<div class="footer height-sn ">
  <hr class="hr">
  <% if user_signed_in? %>
    <div class="action-footer margin-actionners-sn">
      <div class="action-footer-deux">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= cl_image_tag "exit_nlbrhw", height: 30, width: 30 %>
        <% end %>
        <%= link_to avemteam_path do %>
          <%= cl_image_tag "light_pshfmb", height: 30, width: 30, id:"avem" %>
        <% end %>
        <%= cl_image_tag "photo-camera_2_heatzt", height: 30, width: 30, class:"camera" %>
      </div>
      <%= render 'shared/formpicture' %>
    </div>
  <% end %>
</div>
