<!-- small ecran -->
<div class="footer height-sn hidden-sm  hidden-md hidden-lg">
  <br><hr class="hr">
  <% if user_signed_in? %>
    <div class="action-footer margin-actionners-sn">
      <div class="action-footer-deux">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= cl_image_tag "exit_nlbrhw", height: 30, width: 30 %>
        <% end %>
        <%= link_to root_path do %>
          <%= cl_image_tag "light_pshfmb", height: 30, width: 30, crop: :fill, id:"avem" %>
        <% end %>
      </div>
      <div class="add-picture">
        <%= simple_form_for @picture, html: { class: :myForm }, remote: true, authenticity_token: true do |f| %>
          <%= f.input :photo , label: false, input_html: { class: "hidden-file-input", id:"add-photo" } %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Save", class: "btn btn-primary spaceautour", type: "hidden", id:"theSubmitButton" %>
        <% end %>
        <%= cl_image_tag "camera_bsusxt", height: 30, width: 30, crop: :fill, class:"camera" %>
      </div>
    </div>
  <% end %>
</div>


<!-- large ecran -->
<div class="footer height-lg hidden-xs" style="background-image: url('<%= cl_image_path 'bass_cyd0ds', crop: :fill %>')">
  <% if user_signed_in? %>
    <div class="action-footer margin-actionners-lg">
      <%= link_to root_path do %>
        <%= cl_image_tag "light_pshfmb", height: 40, width: 40, crop: :fill %>
      <% end %>
      <div class="add-picture">
        <%= simple_form_for @picture, html: { class: :myForm } do |f| %>
          <%= f.input :photo , label: false, input_html: { class: "hidden-file-input", id:"add-photo" } %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Save", class: "btn btn-primary spaceautour", type: "hidden", id:"theSubmitButton" %>
        <% end %>
        <%= cl_image_tag "camera_bsusxt", height: 40, width: 40, crop: :fill, class:"camera" %>
      </div>
    </div>
  <% end %>
</div>

