
<div class="footer" style="background-image: url(<%= image_path 'bass.png' %>);">
  <%= link_to root_path, class: "size-btn" do %>
    <%= image_tag "light.png" %>
  <% end %>
  <%= link_to root_path, class: "size-btn" do %>
    <%= image_tag "camera.png" %>
  <% end %>
</div>
