<div class="navbar">
  <% if user_signed_in? %>
    <div class="col-sm-offset-3 col-sm-6">
      <div class="annimation">
        <div class="dropdown">
          <%= cl_image_tag 'forterre_tzg6ef', class: "avatar-large dropdown-toggle", id:"navbar-wagon-menu", data: { toggle: "dropdown" } %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <!-- <li><a href="#">Profile</a></li> -->
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
        <%= cl_image_tag 'plante_s7mwim', height: 50, crop: :fill, id:"magrin-top-plante" %>
        <div class="timer-desc">
          <h1>PHOTOS POSTÉES</h1>
          <p><%= @pictures.count %></p>
        </div>
        <%= cl_image_tag 'horloge_ov7lus', height: 50, id:"horloge" %>
      </div>
      <div class="call-to-action">
        <ul class="nav nav-pills" role="tablist" id="actunav">
          <li class="active", role="presentation">
            <a data-toggle="tab" href="#actu" role="tab" aria-controls="actu" class="btn-danger height-nav-btn">Actu</a>
          </li>
          <li role="presentation" id="topnav">
            <a data-toggle="tab" href="#top" role="tab" aria-controls="top" class="btn-danger height-nav-btn">Top</a>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <!-- Login link (when logged out) -->
    <h2>Cher Diplomé, veuillez vous identifier</h2>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <% end %>
</div>


