<div class="hidden-xs display-lg  doublescreen">
  <%= link_to pictures_path do %>
  <img src="/assets/Avem_illustration.png" alt="" id="avem-lg-bottom-left">
  <% end %>
  <img src="/assets/Avem_illustration.png" alt="" id="avem-lg-bottom-right">
  <div class="navlg">

    <%= render 'shared/redbanner-flex' %>
    <%= render 'shared/redbanner-flex' %>
  </div>

  <!-- <div id="all-photos-lg here" class="all-photos-lg"> -->
  <%= render 'shared/photos-right' %>
  <%= render 'shared/photos-left' %>
  <!-- </div> -->
  </div>
</div>
