<div class="cards">
  <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
  <%= cl_image_tag picture.photo, class:"photo", crop: :fill %>
  <div class="name-vote">
    <div class="date-creation">
      <p><%= picture.created_at.strftime("%F") %> ago</p>
    </div>
    <div class="vote" id="counter">
      <%= link_to like_picture_path(picture), id:"like-btn", method: :put do %>
        <span class="fa fa-arrow-up" aria-hidden="true"></span>
        <span class="likes-count"><%= picture.get_upvotes.size %></span>
      <% end %>
      <%= link_to unlike_picture_path(picture), class:"unlike", method: :put do %>
        <span class="fa fa-arrow-down" aria-hidden="true"></span>
        <span class=""><%= picture.get_downvotes.size %></span>
      <% end %>
    </div>
  </div>
</div>
