<div class="cards">
  <div class="user-posted">
    <p><%= picture.user.first_name.capitalize %></p>
    <%= cl_image_tag picture.user.photo, class:"avatar-bordered" %>
  </div>
  <%= cl_image_tag picture.photo, class:"photo", :crop=>"scale", :gravity=>"face" %>
  <div class="name-vote">
    <div class="date-creation">
      <p><%= picture.created_at.strftime("%F") %> ago</p>
    </div>
    <%= render "pictures/counter", picture: picture %>
  </div>
</div>
