<%= render 'shared/navbar' %>
<div class="banner" style="background-image: url('<%= cl_image_path 'fond_uvrhtk', crop: :fill %>')">
  <div class="all-photos">
    <div class="row">
      <% @pictures.each do |picture| %>
        <div class="col-xs-12 col-sm-6">
          <div class="cards">
            <div class="body-photo">
              <div class="name-vote">
                <input type="hidden" name="post[category_ids][]" value="">
                <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered"/>
                <div class="vote" id="counter">
                  <%= picture.score %>
                  <button type="button" class="btn-icon"><%= image_tag 'graduation.svg', height: 30%></button>
                </div>
              </div>
              <%= cl_image_tag picture.photo, class:"photo", crop: :fill %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
