
<!-- <div id="load">
  <div id="contents"> -->
    <div class="hidden-lg  hidden-sm hidden-md">
      <div id="header-nov">
        <%= render 'shared/redbanner' %>
        <%= render 'shared/pagetitle' %>
      </div>
      <!-- small screen -->
      <div class="all-photos">
        <div class="decalage-bas" style="height: 12vh;"></div>
        <div class="tab-content">
          <div class="tab-pane active" id="actu" role="tabpanel" aria-labelledby="pills-home-tab">
            <% @pictures.each do |picture| %>
              <%= render 'pictures/photo', picture: picture %>
            <% end %>
            <!-- <div class="espace"><h1>Kiss</h1></div> -->
          </div>
          <div class="tab-pane" id="top" role="tabpanel" aria-labelledby="pills-profile-tab">
            <% @picturesup.each do |picture| %>
              <%= render 'pictures/photo', picture: picture %>
            <% end %>
            <!-- <div class="espace"><h1>Kiss</h1></div> -->
          </div>
          <div class="espace"></div>
        </div>
      </div>
      <%= render 'shared/footer' %>
    </div>

      <!-- large screen -->
    <div class="hidden-xs display-lg">
      <img src="/assets/Avem_illustration.png" alt="" id="avem-lg-top-right">
      <div class="navlg">
        <img src="/assets/date-2803.png" alt="">
        <%= render 'shared/redbanner' %>
      </div>

      <div id="all-photos-lg here" class="all-photos-lg">
        <%= render 'shared/photos-right' %>
        <%= render 'shared/photos-left' %>
      </div>
      </div>
    </div>

<!--   </div>
</div> -->
