<%= render 'shared/navbar' %>
<!-- small screen -->
<div class="banner-sn hidden-sm  hidden-md hidden-lg" style="background-image: url('<%= cl_image_path 'fond_uvrhtk', crop: :fill %>')">
  <div class="all-photos">
    <div class="tab-content">
      <div class="tab-pane active" id="actu" role="tabpanel" aria-labelledby="pills-home-tab">
        <% @pictures.each do |picture| %>
          <%= render 'pictures/photo', picture: picture %>
        <% end %>
        <!-- <div class="espace"><h1>Kiss</h1></div> -->
      </div>
      <div class="tab-pane" id="top" role="tabpanel" aria-labelledby="pills-profile-tab">
        <% @picturesup.each do |picture| %>
          <%= render 'pictures/photo', picture: picture %>
        <% end %>
        <!-- <div class="espace"><h1>Kiss</h1></div> -->
      </div>
    </div>
  </div>
</div>

<!-- large screen -->
<div class="banner-lg hidden-xs" style="background-image: url('<%= cl_image_path 'background_ordinateur_r7np6e', crop: :fill %>')">
  <div class="all-photos-lg">
    <div class="tab-content">
      <div class="tab-pane active" id="actu" role="tabpanel" aria-labelledby="pills-home-tab">
        <% @pictures.each do |picture| %>
          <%= render 'pictures/photolg', picture: picture %>
        <% end %>
      </div>
      <div class="tab-pane" id="top" role="tabpanel" aria-labelledby="pills-profile-tab">
        <% @picturesup.each do |picture| %>
          <%= render 'pictures/photolg', picture: picture %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>

