
<%= simple_form_for(@picture) do |f| %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Save", class: "btn btn-primary spaceautour" %>
    <% end %>
    <%= cl_image_tag "camera_bsusxt", height: 40, width: 40, crop: :fill, id:"camera" %>


<div class="dropdown">
          <%= cl_image_tag 'forterre_tzg6ef', class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "/bikes/mybikes" do %>
                <i class="fa fa-bicycle" aria-hidden="true"></i> <%= t(".mybikes", default: "mybi kes") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
