<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Il etait un costume</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%), url(<%= image_path 'Fond.png' %>);">
      <%= render 'shared/navbar' %>
      <div class="timer">
        <h1>TEMPS RESTANT</h1>
        <%= image_tag "Horloge.png", id: "countdown" %>
      </div>
      <%= yield %>
      <%= render 'shared/lafabrique' %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
