<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Il etait un costume - Des souvenirs plein la tête ">
    <meta property="og:image" content="cl_image_tag 'forterre_tzg6ef'">
    <meta property="og:description" content="Partagez vos souvenirs depuis toutes ces années à Novancia, partagez votre remise de diplôme, pour qu'on en garde tous des moments magiques et inoubliables!">
    <meta property="og:site_name" content="Il etait un costume"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Il etait un costume</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <div class="padding-general">
        <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
